@import "../../variable.scss";
.header1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 5rem;
    padding: 0;
    letter-spacing: 0.2rem;
    font-family: "Poppins Bold";
    text-align: center;
}
.header2 {
    margin-top: 10rem;
    width: fit-content;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    border-bottom: 1px solid var(--primary-color);
    font-family: "Poppins Bold";
    text-align: center;
}
